header {
  border-bottom: 1px solid black;
  text-align: center;
  background-color: darkred;
  color: goldenrod;
  padding-top: 5px;
}

main {
  padding: 20px;
  margin: 0 auto;
  width: 60%;
  height: 600px;
  text-align: left;
  font-size: 22px;
}

aside {
  text-align: center;
  font-size: 16px ;
  width: 180px;
  height: 140px;
  padding: 10px;
  margin: 10px;
  position: fixed;
  right: 50px;
  bottom: 200px;
  border: 1px solid black;
}

footer {
  background-color: darkred;
  color: white;
  width: 100%;
  position: sticky;
  bottom: 0;
}

button {
  background-color: black;
  color: white;
  font-family: serif;
}

/* aside:has(#botao:active){
  background-color: black;
  color: white;
} */

button:active{
  background-color: white;
  color: black;
}
